@mixin button-reset {
  border: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

@mixin button-primary {
  background-color: var(--color-dark-teal);
  border-radius: var(--border-radius-small);
  color: var(--color-primary);
  display: inline-block;
  font-size: var(--font-size-medium);
  padding: var(--spacing-default);
}

@mixin form-input {
  box-sizing: border-box;
  border: 1px solid var(--color-faint);
  border-radius: var(--border-radius-default);
  outline: none;
  padding: var(--spacing-small);
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin item-removed {
  text-decoration: line-through;
  text-decoration-color: var(--color-secondary);
}

@mixin item-selected {
  background-color: var(--color-dark-teal);
  border: 1px solid var(--color-dark-teal);
  color: var(--color-primary);
}

@mixin item-highlighted {
  background-color: rgba(11, 79, 75, 0.8);
  color: var(--color-primary);
}
